* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #b51218; /* Rojo exterior */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Pantallas */
.screen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================== PANTALLA 1 ================== */

#inicio {
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.question-title {
  color: #fdecec;
  font-size: 2.5rem;
}

.contenedor-botones {
  display: flex;
  gap: 30px;
  position: relative;
}

button {
  padding: 15px 35px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

#btn-si {
  background-color: #fdecec;
  color: #b51218;
}

#btn-no {
  background-color: #333;
  color: white;
}

/* ================== TARJETA ================== */

.card {
  background: #b51218;
  padding: 20px;
  border-radius: 8px;
}

.card-inner {
  background: #fdecec;
  padding: 30px 25px;
  width: 320px;
  text-align: center;
  position: relative;
}

/* Corazones arriba */
.top-hearts {
  display: flex;
  justify-content: space-between;
  color: #b51218;
  font-size: 20px;
}

/* Subtítulo */
.subtitle {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #b51218;
}

/* Título */
.title {
  margin: 15px 0 10px;
  font-size: 36px;
  font-weight: 900;
  color: #b51218;
  line-height: 1.1;
}

/* Descripción */
.description {
  font-size: 11px;
  color: #b51218;
  margin-bottom: 15px;
}

/* Corazones */
.hearts-row {
  color: #b51218;
  margin-bottom: 15px;
}

/* Fecha y hora */
.info-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.info-item {
  flex: 1;
  border: 2px dashed #b51218;
  padding: 8px 5px;
  font-size: 12px;
  color: #b51218;
  font-weight: bold;
}

/* Dirección */
.place-box {
  border: 2px dashed #b51218;
  padding: 10px 5px;
  font-size: 11px;
  color: #b51218;
  margin-bottom: 15px;
}

/* Texto final */
.footer-title {
  font-weight: bold;
  color: #b51218;
  margin-bottom: 8px;
}

.footer-text {
  font-size: 10px;
  color: #b51218;
}

/* Corazón abajo */
.bottom-heart {
  margin-top: 10px;
  font-size: 16px;
  color: #b51218;
}
